[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
polars = {extras = ["pyarrow"], version = "*"}
connectorx = "*"
duckdb = "*"
pyprojroot = "*"
pycolleague = {ref = "main", git = "git+https://github.com/Haywood-Community-College-IERG/pycolleague.git"}

[dev-packages]
pylint = "*"
ipykernel = "*"
build = "*"
hatch = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
